.button.is-primary.is-inverted {
    border-color: #404040 !important;
}
body > aside .menu-list a.is-active, 
.button.is-primary.is-inverted.is-outlined:hover, .button.is-primary.is-inverted.is-outlined:focus {
    background-color: #404040 !important;
}
.button.is-primary.is-inverted.is-outlined,
.button.is-primary,
body > aside a, body > aside label, body > aside span, body > aside li, body > aside ul, body > aside ul.menu-list > li > a, body > aside p.menu-label {
    color: #404040;
}
body > aside .menu-list a:hover:not(.is-active) {
    color: #404040;
    box-shadow: 1px 1px 0 0 #404040 inset, -1px 1px 0 0 #404040 inset, -1px -1px 0 0 #404040 inset, 1px -1px 0 0 #404040 inset;
}
.button.is-primary:hover, .button.is-primary.is-hovered,
.selectize-dropdown .active {
    color: #404040 !important;
}
.button.is-primary {
    border-color: #404040;
}
.dash-heading {
    color: #404040 !important;
}
.dash-button {
    border-color: #404040 !important;
}
