
// include bulma and other packages
@import "node_modules/bulma/sass/utilities/initial-variables"

// project configurable variables
@import "variables"

// bulma core includes
@import "vendor/evergreen/generic/src/assets/sass/include"

// load in core egl styles
@import "vendor/evergreen/generic/src/assets/sass/core"

// theme overrides
@import "overrides"

.review-overdue
    background-color: #FF0000
    color:white !important

.review-two-weeks
    background-color: #eee8aa

.review-okay
    background-color: #98fb98
.sub-heading 
    font-weight: bold
    font-size: 16px
    margin-bottom: 10px
label.radio-inline
    padding-left: 5px
    padding-right: 5px
.radio-inline input
    margin-right: 5px

.bottom-bar .field.is-grouped
  flex-direction: row
  flex-wrap: wrap
.bottom-bar .field.is-grouped .control
  margin-bottom: 10px
  margin-top: 10px
.disabled-button
  pointer-events: none !important

.bottom-menu
  background: #fff  !important
  color: #203878
  transition: height 0.4s
/*Help section*/
#help-section
  margin: 20px
  display: none
.bottom-menu .help-button
  width: 30px
  height: 30px
  margin-left: 20px
  color: #fff


